<?xml version="1.0"?>
<robot name="table">
  <link name="table_0">
    <visual>
      <origin rpy="0  1.57  0" xyz="0 0 0"/>
      <geometry>
        <box size="0.6 1.0 0.025"/>
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision name="table_surface">
    <geometry>
        <box size="0.6 1.0 0.025"/>
      </geometry>
  </collision>
  </link>

  <link name="world_absolute">
  </link>

  <joint name="world_absolute_to_table_0" type="fixed">
    <parent link="world_absolute"/>
    <child link="table_0"/>
    <origin rpy="3.1415 -1.57 0" xyz="0 0 0.73"/>
  </joint>
  <joint name="world_absolute_to_robot" type="fixed">
    <parent link="world_absolute"/>
    <child link="base"/>
    <origin xyz="-0.55 0 0.9"/>
  </joint>
</robot>